@import url('https://fonts.googleapis.com/css?family=Arsenal');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
body{
    background-color: rgb(60, 59, 56) !important;
    max-width: 1580px;
    margin: 0 auto;
    font-family: 'Arsenal', sans-serif;
}
.text-center{
    text-align: center;
}

.body-cover{
    background-image: url(../img/freedom.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
}

.header{
    width: 100%;
    height: 5rem;
    background-color: rgb(21, 188, 191);
    top:0;
    z-index: 3;
    display: flex;
    justify-content: space-between;
}
.socials{
    width: 21rem;
    height: 80%;
    display: flex;
    text-align: center;
    padding-top: 1rem;
}
    .social__text{
        font-size: 24px;
        padding-top: .5rem;
        margin-right: 4rem;
    }
    .redes{
        width: 2.5rem;
        height: 2.5rem;
        background-color: rgb(255, 255, 255);
        margin: 2px;
        text-align: center;
        border-radius: 50%;
    }
    .icon{
        display: inline-block;
        padding-top: 11px;
    }
        #icon-face{
            color: blue;
        }
        #icon-twuit{
            color: lightskyblue;
        }
        #icon-you{
            color: red;
        }

.banner{
    width: 100%;
    height:30rem;
    background-color: rgba(118, 102, 102, 0.659);
    overflow: hidden;
    display: flex;
}
    .banner__list{
        position: absolute;
        width:20rem;
        height: 3rem;
        display: flex;
        z-index: 99;
        font-size: 2rem;
        list-style: none;
        left:50rem;
    }
        .banner__list a{
            color: white;
        }
        .banner__item{
            width: 7.3rem;
            height: 3rem;
            text-align: center;
        }

.navbar{
    position: absolute;
    width: 60rem;
    height: 3rem;
    left: 30rem;
    top:32rem;
    background-color: rgba(58, 56, 56, 0.824);
}
    .navbar__list{
        display: flex;
        width: 100%;
        height: 94%;
        list-style: none;
    }
        .list__item{
            width: 20%;
            height: 65.6%;
            text-align: center;
            margin: 0 1.6px;
            padding-top: 15px;
            color: white;
        }
        .list__item:hover{
            border: 2px solid lightgreen;
            color: lightgreen;
        }
.container{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-color: #fff;
}
    .row-container{
        display: flex;
        width: 100%;
        height: 100%;
    }
        .column{
            float: left;
        }
            #column1{
                width: 70%;
                height: 100%;
                background-color: rgb(126, 123, 123);
            }
            #column2{
                width: 30%;
                height: 100%;
                background-color: rgb(96, 119, 130);
            }
.form-signin{
    text-align: center;
    padding-top: 2rem;
}         
    .form-title{
        padding-top: 3rem;
    }  

.footer{
    width: 100%;
    height: 4rem;
    background-color: rgb(19, 162, 95);
}