@import url('https://fonts.googleapis.com/css?family=Arsenal');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
a{
    text-decoration: none !important;
}
body{
    background-color: rgb(60, 59, 56) !important;
    max-width: 1580px;
    margin: 0 auto;
    font-family: 'Arsenal', sans-serif;
}
.text-center{
    text-align: center;
}

.body-cover{
    background-color:#494949;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
}

.header{
    width: 100%;
    height: 5rem;
    background-color: rgb(21, 188, 191);
    top:0;
    z-index: 3;
    display: flex;
    justify-content: space-between;
}
.socials{
    width: 21rem;
    height: 80%;
    display: flex;
    text-align: center;
    padding-top: 1rem;
}
    .social__text{
        font-size: 24px;
        padding-top: .5rem;
        margin-right: 4rem;
    }
    .redes{
        width: 2.5rem;
        height: 2.5rem;
        background-color: rgb(255, 255, 255);
        margin: 2px;
        text-align: center;
        border-radius: 50%;
        
    }
        #face{
            border:1px solid blue;
        }
        #twiter{
            border:1px solid skyblue;
        }   
        #youtube{
            border:1px solid red;
        }
    .icon{
        display: inline-block;
        padding-top: 11px;
    }
        #icon-face{
            color: blue;
        }
        #icon-twuit{
            color: lightskyblue;
        }
        #icon-you{
            color: red;
        }

.slider{
    position: relative;
    width: 100%;
    height:30rem;
    background-color: rgba(118, 102, 102, 0.659);
    overflow: hidden;
    display: flex;
    box-sizing: border-box;
}
.slide-viewer {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.slide-group {
    width: 100%;
    height: 100%;
    position: relative;}

.slide {
    width: 100%;
    height: 100%;
    display: none;
    }

.slide:first-child {
    display: block;
    }
    .slide img {
        width: 100%;
        height: 100%;
    }

    /* slide-nav */
.slide-nav {
    width: 100%;
    position: absolute;
    top: 50%;
}
.slide-nav .prev, .slide-nav .next {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.205);
    position: absolute;
    cursor: pointer;
    z-index: 2;
}
.slide-nav .prev {
    left: 0;
}
.slide-nav .next {
    right: 0;
}
.slide-nav .prev::before, .slide-nav .prev::after, .slide-nav .next::before, .slide-nav .next::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(50% 50%);
    width: 24px;
    height: 2px;
    background-color: white;
    z-index: 3;
}
.slide-nav .prev::before {
    transform-origin: 0 50%;
    transform: rotate(50deg) translate(-1px, -1px);
}
.slide-nav .prev::after {
    transform-origin: 0 50%;
    transform: rotate(-50deg);
}
.slide-nav .next::before {
    transform-origin: 100% 50%;
    transform: rotate(50deg);
}
.slide-nav .next::after {
    transform-origin: 100% 50%;
    transform: rotate(-50deg) translate(1px, -1px);
}

/* button */
.slide-buttons {
  text-align: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.slide-btn {
  border: none;
  background: none;
  color: #000;
  font-size: 200%;
  line-height: 0.5em;
  outline: none;
}

.slide-btn.active, .slide-btn:hover {
  color: #92eb39;
  cursor: pointer;
}

.btn:hover{
    background-color: rgba(43, 42, 42, 0.954);
    color: rgb(255, 255, 255);
}

.navbar{
    position: relative;
    width: 60%;
    height: 3rem;
    margin: -48px auto 0;
    z-index: 3;
    background-color: rgba(28, 105, 133, 0.817);
    padding: 0;
}
    .navbar__list{
        display: flex;
        width: 100%;
        height: 100%;
        list-style: none;
        margin-bottom: 0;
    }
        .list__item{
            width: 36%;
            height: 100%;
            text-align: center;
            margin: 0 1.6px;
            color: white;
            padding-top: 11px;
        }
        
        .list__item:hover{
            border: 2px solid lightgreen;
            color: lightgreen;
        }

.message{
    margin: 400px auto;
    width: 50rem;
    height: 30rem;
    text-align: center;
    font-size: 30px;
    color: white;
    text-shadow: #000;
}
    .message a{
        color:rgb(150, 150, 150);
    }
    .message a:hover{
        color:rgb(255, 255, 255);
    }
.contenedor{
    width: 100%;
    
    margin: 0 auto;
    background-color: #fff;
}
    .row-container{
        display: flex;
        width: 100%;
        
    }
        .column{
            float: left;
        }
            #column1{
                position: relative;
                width: 70%;
                background-color: rgb(255, 255, 255);
                padding: 20px;
                box-sizing: border-box;
            }
                .img__bike{
                    width: 80%;
                }
                .img__bike img{
                    width: 100%;
                }
            #column2{
                position: relative;
                width: 30%;
                background-color: rgb(175, 175, 175);
                padding: 10px;
                box-sizing: border-box;
            }

.form{
    
    display: inline-block;
   
} .form h1{
    margin: 15px auto; 
}

.form-welcome{
    margin: 0 0 0 12% !important;
}
    .btn-sign{
        background-color: rgb(35, 104, 109);
        font-size:20px;
        color: white;
        width: 300px;
        height: 30px;
        border-radius: 7px;
        margin-left: 30px;
    }
    .btn-sign:hover{
        background-color: rgb(114, 215, 31);
        color: black;
    }
    .form-signin input, select{
        width: 350px;
        height: 30px;
        border-radius:7px;
        margin:8px auto;
    }        
    .form-title{
        padding-top: 3rem;
    }  

.showTable{
    text-align: center;
    margin: 30px 0;
} 
    .showTable td{
        padding: 5px;
        width: 250px;
        height: 20px;
        border: 1px solid gray;
    }
.showTable_td{
    background-color: rgb(52, 87, 138);
    color: white;
}     
.detailspan{
    color: lightskyblue;
}
.danger-alert{
    width: 500px;
    margin: 0 auto;
    background-color: rgb(255, 224, 224);
    color: #ae2016;
    border: 1px solid #ae2016;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px; 
}
.alert-list{
    list-style: circle !important;
}
    

.footer{
    width: 100%;
    height: 4rem;
    background-color: rgb(21, 188, 191);
    text-align: center;
}
.error-body{
    background-color: rgb(80, 80, 80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.skull{
    font-size: 23px;
    box-sizing: border-box;
    color: #db291b;
}
.login-container{
    background-color: #241d71;
    max-width: 1024px;
    width: 100%;
    height: 900px;
    margin: 100px auto 0;
    border-radius:8px;
    border: 0.5px solid yellowgreen;
}
